p {
	font-family: Arial;
	
}

/*body {
    width: 100%;
    background-image: url("Backroundsbild-full.jpg");
    background-repeat: no-repeat;
    background-size: contain;
	background-size: cover;
}*/

body {
    background-color: #0f0f0f;
}

h1,h2,h3,h4,h5 {
	color:white;
}