<!DOCTYPE html>
<title>HTML</title> 
<head>

</head>

<body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="jquery-3.1.1.js">
</script>
<script>
  $(document).ready(function(){
    alert('Starting');
  });
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css.css" rel="stylesheet" type="text/css">
<div class="container">

<h2 class="sasserif">Welcome</h2>

</div>
<html ng-app='app'>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title></title>
   <link rel="stylesheet" href="">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script>
       var app = angular.module('app', []);
    
       app.controller('MainCtrl', function($http){
            var vm = this;
            vm.data = false;
            vm.fetchData = function(user){
                vm.loading = true;
                $http.get('http://api.github.com/users/' + user.name).then(function(res){                
                    vm.data = res;
                    vm.name = res.data.name || 'Not found';
                    vm.location = res.data.location || 'Not found';
                    vm.loading = false;
                })
           }
       })
   </script>
</head>
<body ng-controller='MainCtrl as vm'>
   <label for="enter">Enter a username</label>
    <input type="text" ng-model="user.name" name="enter">
    <button ng-click="vm.fetchData(user)">Go!</button>
        <h4 ng-if="vm.loading === true">Loading...</h4>
    <h3 ng-hide="vm.data === false">{{vm.data}} --- {{vm.location}}</h3>
</body>
</html>


<footer class="container-fluid text-center">
</footer>
</body>